@font-face {
    font-family: "GotHam-Bold";
    font-weight: 500;
    src: url("../font/GOTHAM-BOLD1_1.OTF");
}

@font-face {
    font-family: "GotHam-medium";
    font-weight: 500;
    src: url("../font/GOTHAM-MEDIUM1_1.OTF");
}

@font-face {
    font-family: "sanfrancisco";
    font-weight: 500;
    src: url("../font/SANFRANCISCODISPLAY-REGULAR.OTF");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.bread-crumb .breadcrumb {
    background: transparent;
    padding: 10px 0;
}

.bread-crumb .breadcrumb .breadcrumb-item {
    font-size: 14px;
    font-family: "sanfrancisco";
    color: #231F20;
    text-transform: capitalize;
}

.content .content-left .left-title {
    font-family: "GotHam-medium";
    font-size: 25px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.content .content-left .accordion-box .box-1 {
    margin-bottom: 25px;
}

.content .content-left .accordion-box .box-1 .box-1-title {
    position: relative;
    cursor: pointer;
}

.content .content-left .accordion-box .box-1 .box-1-title .main-title {
    font-size: 16px;
    font-family: "GotHam-medium";
    text-transform: uppercase;
}

.content .content-left .accordion-box .box-1 .box-1-title i {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    color: #666;
}

.content .content-left .accordion-box .box-1 .content-box .color-box {
    list-style: none;
    display: flex;
    flex-flow: row;
}

.content .content-left .accordion-box .box-1 .content-box .color-box li {
    margin-right: 5px;
}
.dropdown-1 .dropdown-menu {
    min-width: 6rem !important;
}
.dropdown .dropdown-menu {
    min-width: 9rem ;
}
.dropdown-menu  a:hover {
    color: rgb(23,85,108) !important;
}
.content .content-left .accordion-box .box-1 .content-box .color-box li a {
    font-family: "sanfrancisco";
    font-size: 14px;
    line-height: 35px;
    color: #231F20;
    text-transform: capitalize;
    text-decoration: none;
}

.content .content-left .accordion-box .box-1 .content-box .color-box li a span {
    color: #666;
}

.content .content-left .accordion-box .box-1 .content-box .box-colum {
    display: flex;
    flex-flow: column;
}

.content .content-left .folder-like .like-title {
    font-size: 16px;
    color: #000000;
    font-family: "GotHam-medium";
    text-transform: uppercase;
}

.content .content-left .folder-like .like-text {
    font-size: 14px;
    line-height: 35px;
    color: #666666;
    font-family: "sanfrancisco";
}

.content .content-right .search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .content-right .search-box .search-box-left .dropdown span {
    margin-left: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #231F20;
    font-family: "sanfrancisco";
    text-transform: capitalize;
}

.content .content-right .search-box .search-box-left .dropdown a {
    padding-left: 20px;
    font-family: "sanfrancisco";
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.content .content-right .search-box .search-box-left .dropdown .dropdown-menu .dropdown-item {
    font-family: "sanfrancisco";
    text-transform: capitalize;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.content .content-right .search-box .search-box-left .dropdown-1 {
    margin-left: 60px;
}

.content .content-right .search-box .search-box-right .main-box-right p {
    font-family: "sanfrancisco";
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.content .content-right .product-list {
    display: none;
}

.content .content-right .product-list .collum-img-1 .sale-product {
    background-color: #F2F2F2;
    position: relative;

}

.content .content-right .product-list .collum-img-1 .sale-product:hover .sale-insert-cart {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s;
}

.content .content-right .product-list .collum-img-1 .sale-product img {
    padding: 28px 44px;
}

.content .content-right .product-list .collum-img-1 .sale-product .sale-insert-cart {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #17556C;
    width: 100%;
    visibility: hidden;
    opacity: 0;
}

.content .content-right .product-list .collum-img-1 .sale-product .sale-insert-cart a {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    font-family: "GotHam-medium";
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.content .content-right .product-list .collum-img-1 .sale-product .sale-insert-cart a div {
    padding: 10px 0;
}

.content .content-right .product-list .collum-img-1 .sale-product .sale-insert-cart a:hover {
    color: #ED4956;
}

.content .content-right .product-list .collum-img-1 .sale-product-content {
    padding-top: 20px;
    font-family: "sanfrancisco";
    font-size: 16px;
    color: #000;
}


.content .content-right .product-list .collum-img-1 .sale-product-content .sale-color-star {
    color: #ED8C4A !important;
}
.name-product {
    font-size: 20px;
}
.price-sale {
    font-size: 20px;
    font-weight: bold;
}
.price {
    text-decoration: line-through;
    font-size: 15px;
    font-weight: bold;
}
.add-1 a:hover {
    /* background-color: inherit; */
    border: none;
    color: #000;
    background-color: #fff;
    transition: 0.5s;
    border : 1px solid #000;
}

.add-1 a {
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "GotHam-medium";
    background: rgb(23 , 85, 108);

    padding: 15px;
}
.icon-heart {
    padding-top: 10px;
}

.icon-heart i {
    font-size: 20px;
}

.icon-heart i:hover {
    color: #ED4956;
}
/*
.content .content-right .pagina-tion .pagination .page-item {
    margin-right: 5px !important;
}*/
/*
.content .content-right .pagina-tion .pagination .page-item .page-link {
    color: #000;
}*/

.content .content-right .pagina-tion .pagination .page-item .page-link:hover {
    border: 1px solid #000 ;
    color: #000;
}
.content .content-right .pagina-tion .pagination .page-item .active  {
    background: #17556c;
    color: #fff;
}
.content .content-right .pagina-tion .pagination .page-item .active  a{
    color: #fff;
}
@media (max-width: 992px) {
    .col-lg-3 {
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
}
